In [55]:
%%time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict
from tqdm import tqdm

from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

CPU times: user 21 µs, sys: 1 µs, total: 22 µs
Wall time: 26 µs

In [10]:
pd.options.display.float_format = '{:.5f}'.format

In [4]:
article = pd.read_csv('/Users/yoo/Data-dev/nlp/dev/article.csv')
article

    created_date                                            article
0     2018-03-15   김동연 부총리 겸 기획재정부 장관은 가상통화에  금을 매기는 게 바람직한지 논의 ...
1     2018-03-16   라인의 금융 자회사 라인 파이낸셜 통해 일본 금융청에 가상화폐 거래 사업자 신청 ...
2     2018-03-19   콘텐츠 생산자와 추천인에게  상 는 이용자 정 로 부 독점 페이스북 등에 반기 작...
3     2018-03-29       도자료는 당신이 풀 노드로 돌리고 있는 블록체인에 아동 포르노가 연결되어 ...
4     2018-04-03                                      도자료는 으로
..           ...                                                ...
605   2021-10-21    신고점 경신한 비트코인  말엔 리스크 관리 우선해야 비트코인은 지난 일 밤 시경...
606   2021-10-22   일 금융위원회 위원장 고승범 는 지난 월 일 가상자산 사업자 신고 마감 이후 먹튀...
607   2021-10-25   조정의 끝을 알고 싶다면 만 달러 지지해야 비트코인은 일 오후 시경 만 달러 선까...
608   2021-10-26   미국 증권 금융의 최고 규  기구인 증권거래위원회 가 억 달러 규모의 스테이블 코...
609   2021-10-27    가상자산 데이터 분석 업체 글래스노드가 일 스위스 시간  간 온체인  고서 를 ...

[610 rows x 2 columns]

In [11]:
price = pd.read_csv('/Users/yoo/Data-dev/nlp/dev/price.csv')
price

      trade_date          price   before_price   label
0     2018-03-15  9010234.20891            nan     nan
1     2018-03-16  9024833.95469  9010234.20891 1.00000
2     2018-03-17  9056906.80354  9024833.95469 1.00000
3     2018-03-18  8470860.29412  9056906.80354 0.00000
4     2018-03-19  8970286.25831  8470860.29412 1.00000
...          ...            ...            ...     ...
1318  2021-10-23 74501866.23316 76632600.67319 0.00000
1319  2021-10-24 74478050.59524 74501866.23316 0.00000
1320  2021-10-25 75178560.00732 74478050.59524 1.00000
1321  2021-10-26 75581706.19076 75178560.00732 1.00000
1322  2021-10-27 72994468.79360 75581706.19076 0.00000

[1323 rows x 4 columns]

In [22]:
article = article.set_index('created_date')
price = price.set_index('trade_date')

df_con = pd.concat([article, price], axis=1).dropna()
df_con = df_con[['article', 'price', 'label']]

df_con

,article,price,before_price,label
2018-03-16,라인의 금융 자회사 라인 파이낸셜 통해 일본 금융청에 가상화폐 거래 사업자 신청 ...,9024833.95469,9010234.20891,1.00000
2018-03-19,콘텐츠 생산자와 추천인에게 상 는 이용자 정 로 부 독점 페이스북 등에 반기 작...,8970286.25831,8470860.29412,1.00000
2018-03-29,도자료는 당신이 풀 노드로 돌리고 있는 블록체인에 아동 포르노가 연결되어 ...,8437138.68234,8755687.28223,0.00000
2018-04-03,도자료는 으로,7904068.97690,7562219.60652,1.00000
2018-04-04,도자료는 으로 도자료는 으로 도자료는,7943745.49850,7904068.97690,1.00000
...,...,...,...,...
2021-10-21,신고점 경신한 비트코인 말엔 리스크 관리 우선해야 비트코인은 지난 일 밤 시경...,78874213.67708,78423109.61969,1.00000
2021-10-22,일 금융위원회 위원장 고승범 는 지난 월 일 가상자산 사업자 신고 마감 이후 먹튀...,76632600.67319,78874213.67708,0.00000
2021-10-25,조정의 끝을 알고 싶다면 만 달러 지지해야 비트코인은 일 오후 시경 만 달러 선까...,75178560.00732,74478050.59524,1.00000
2021-10-26,미국 증권 금융의 최고 규 기구인 증권거래위원회 가 억 달러 규모의 스테이블 코...,75581706.19076,75178560.00732,1.00000
2021-10-27,가상자산 데이터 분석 업체 글래스노드가 일 스위스 시간 간 온체인 고서 를 ...,72994468.79360,75581706.19076,0.00000

In [105]:
df_con['article']

2018-03-16     라인의 금융 자회사 라인 파이낸셜 통해 일본 금융청에 가상화폐 거래 사업자 신청 ...
2018-03-19     콘텐츠 생산자와 추천인에게  상 는 이용자 정 로 부 독점 페이스북 등에 반기 작...
2018-03-29         도자료는 당신이 풀 노드로 돌리고 있는 블록체인에 아동 포르노가 연결되어 ...
2018-04-03                                        도자료는 으로
2018-04-04             도자료는 으로           도자료는 으로           도자료는
                                    ...
2021-10-21      신고점 경신한 비트코인  말엔 리스크 관리 우선해야 비트코인은 지난 일 밤 시경...
2021-10-22     일 금융위원회 위원장 고승범 는 지난 월 일 가상자산 사업자 신고 마감 이후 먹튀...
2021-10-25     조정의 끝을 알고 싶다면 만 달러 지지해야 비트코인은 일 오후 시경 만 달러 선까...
2021-10-26     미국 증권 금융의 최고 규  기구인 증권거래위원회 가 억 달러 규모의 스테이블 코...
2021-10-27      가상자산 데이터 분석 업체 글래스노드가 일 스위스 시간  간 온체인  고서 를 ...
Name: article, Length: 609, dtype: object

In [106]:
df_con['article'] = df_con['article'].apply(lambda x: x.split(' '))
df_con

<ipython-input-106-a5d63c101774>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_con['article'] = df_con['article'].apply(lambda x: x.split(' '))

,article,price,label
2018-03-16,"[, 라인의, 금융, 자회사, 라인, 파이낸셜, 통해, 일본, 금융청에, 가상화폐,...",9024833.95469,1.00000
2018-03-19,"[, 콘텐츠, 생산자와, 추천인에게, , 상, 는, 이용자, 정, 로, 부, 독점,...",8970286.25831,1.00000
2018-03-29,"[, , , , , 도자료는, 당신이, 풀, 노드로, 돌리고, 있는, 블록체인에, ...",8437138.68234,0.00000
2018-04-03,"[, , , , , 도자료는, 으로, , , , , , ]",7904068.97690,1.00000
2018-04-04,"[, , , , , 도자료는, 으로, , , , , , , , , , , 도자료는,...",7943745.49850,1.00000
...,...,...,...
2021-10-21,"[, , 신고점, 경신한, 비트코인, , 말엔, 리스크, 관리, 우선해야, 비트코인...",78874213.67708,1.00000
2021-10-22,"[, 일, 금융위원회, 위원장, 고승범, 는, 지난, 월, 일, 가상자산, 사업자,...",76632600.67319,0.00000
2021-10-25,"[, 조정의, 끝을, 알고, 싶다면, 만, 달러, 지지해야, 비트코인은, 일, 오후...",75178560.00732,1.00000
2021-10-26,"[, 미국, 증권, 금융의, 최고, 규, , 기구인, 증권거래위원회, 가, 억, 달...",75581706.19076,1.00000
2021-10-27,"[, , 가상자산, 데이터, 분석, 업체, 글래스노드가, 일, 스위스, 시간, , ...",72994468.79360,0.00000

In [111]:
def corpus_maker(raw_data):
  # total count/ up count/ down count
  corpus = defaultdict(lambda : [0,0,0])
  for idx, token_book in tqdm(enumerate(raw_data['article'])):
    
      for token in token_book:
          if raw_data.iloc[idx].label==1:
              corpus[token][0]+=1
              corpus[token][1]+=1
          elif raw_data.iloc[idx].label==0:
              corpus[token][0]+=1
              corpus[token][2]+=1
          else:
              corpus[token][0]+=1
            
  return corpus

In [112]:
crypto_dict = corpus_maker(df_con)
crypto_dict_df = pd.DataFrame(crypto_dict).T
# crypto_dict_df.columns = ['up','down']

crypto_dict_df

609it [01:01,  9.97it/s]

           0      1      2
       26245  14944  11301
라인의       25     22      3
금융       379    213    166
자회사       31     16     15
라인        52     30     22
...      ...    ...    ...
만달러가량      1      0      1
증가했는데      1      0      1
신고점인       2      0      2
다에서        1      0      1
마켓에서만      1      0      1

[57479 rows x 3 columns]