In [5]:
import pandas as pd

df = pd.read_csv('/home/yoo9519/pythonScript/datasets/student/student-por.csv', delimiter=';')
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1       GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2       GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3       GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4       GP   F   16       U     GT3       T  ...     2       5        0  11  13  13
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[649 rows x 33 columns]

서로 다른 기능 간의 관계를 지정하여, 구조 모델을 수동으로 정의할 수 있음  
먼저 빈 구조를 만들어야 한다.

In [2]:
import warnings
from causalnex.structure import StructureModel

warnings.filterwarnings("ignore")

sm = StructureModel()

In [8]:
# Structure from Domain knowledge
# 전문가들에 의해, G1(1학기 성적)에 대한 인과관계는 출석/건강으로 가정함

sm.add_edges_from([
    ('health', 'absences'),
    ('health', 'G1')
])

sm.edges

OutEdgeView([('health', 'absences'), ('health', 'G1')])

In [43]:
# 구조 시각화

from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE
import matplotlib.pyplot as plt
import networkx as nx
import os, webbrowser

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.show('structure.html')

structure.html

In [47]:
# data definition

import pandas as pd

df = pd.read_csv('/home/yoo9519/pythonScript/datasets/student/student-por.csv', delimiter=';')
print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1     GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2     GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3     GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4     GP   F   16       U     GT3       T  ...     2       5        0  11  13  13
5     GP   M   16       U     LE3       T  ...     2       5        6  12  12  13
6     GP   M   16       U     LE3       T  ...     1       3        0  13  12  13
7     GP   F   17       U     GT3       A  ...     1       1        2  10  13  13
8     GP   M   15       U     LE3       A  ...     1       1        0  15  16  17
9     GP   M   15       U     GT3       T  ...     1       5        0  12  12  13

[10 rows x 33 columns]

In [48]:
drop_col = ['school','sex','age','Mjob', 'Fjob','reason','guardian']
data = df.drop(columns=drop_col)
data.head(5)

  address famsize Pstatus  Medu  Fedu  ...  health  absences  G1  G2  G3
0       U     GT3       A     4     4  ...       3         4   0  11  11
1       U     GT3       T     1     1  ...       3         2   9  11  11
2       U     LE3       T     1     1  ...       3         6  12  13  12
3       U     GT3       T     4     2  ...       5         0  14  14  14
4       U     GT3       T     3     3  ...       5         0  11  13  13

[5 rows x 26 columns]

변수의 수가 증가하거나, 도메인 지식이 없을 경우, 구조를 수동으로 정의하는 것이 부정확(불가능) 하다.  
그래서 CausalNex를 사용하여, 데이터에서 구조 모델을 학습할 수 있다.  
본 문서에서 사용한 구조 학습 알고리즘은 NOTEARS 알고리즘임

구조를 사용할 때, 전체 데이터 세트를 사용할 수는 없지만, 기계 학습과 도메인 전문가 간의 공동 노력으로 간주되어야 하므로 항상 학습/테스트 분할을 사용할 필요는 없다.

In [50]:
# 데이터 전처리: NOTEARS를 사용하기 위해, 숫자가 아닌, 변수를 인코딩하는 레이블로 변환해야 함

import numpy as np

struct_data = data.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['address', 'famsize', 'Pstatus', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']

In [51]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = encoder.fit_transform(struct_data[col])
    
struct_data.head(5)

   address  famsize  Pstatus  Medu  Fedu  ...  health  absences  G1  G2  G3
0        1        0        0     4     4  ...       3         4   0  11  11
1        1        0        1     1     1  ...       3         2   9  11  11
2        1        1        1     1     1  ...       3         6  12  13  12
3        1        0        1     4     2  ...       5         0  14  14  14
4        1        0        1     3     3  ...       5         0  11  13  13

[5 rows x 26 columns]

In [52]:
# NOTEARS 알고리즘으로 학습
from causalnex.structure.notears import from_pandas

sm = from_pandas(struct_data)

In [54]:
# plot함수로 structureModel을 시각화

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show('fully_connected_structure.html')

fully_connected_structure.html

In [56]:
# threshold를 설정하여, 가장자리를 제거함

sm.remove_edges_below_threshold(0.8)
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.show("threshold connected node.html")

threshold connected node.html